# Ignore everything by default
**

# Exceptions (keep these)
!api-docs/
!api-docs/openapi.yaml
!cgi-bin/
!cgi-bin/api
!htdocs/
!htdocs/favicon.ico
!htdocs/assets/kinetic.*
!docker-compose.yml
!Dockerfile*
!*.css
!*.html
!*.md
!*.php
!*.pl
!*.pm
!*.sh
!*.svg
